
<form class="add-form" [formGroup]="addRaportForm" (ngSubmit)="onSubmit()">
 
  <div class="form-control">
    <label>Data:<input type="text" formControlName="date"></label>
  </div>

  <div class="form-control">
    <label for="team">Echipa</label>
    <input type="text" name="team" formControlName="team">
  </div>

  <div class="form-control">
    <label>Descriere:<input type="text" formControlName="description"></label>
  </div>



  <label for="materials">Materiale Folosite:</label><br>
<select name="materials" id="materials"  formControlName="materialsUsed" multiple class="form-control">
    <option *ngFor="let material of materials" value="{{material}}">{{material}}</option>
  </select>
  <input type="button" value="Adauga Cantitate Materiale" class="form-control" (click)="filterMaterials()">
  <label for="materialsQuantity">Cantitate Materiale:</label>
  
 <div  *ngFor="let matItem of materialsFiltered" formArrayName="materialsQuantity">

   <input type="number" class="form-control" name="materialsQuantity" formControlName="0" placeholder="{{matItem.text}}">

 </div>

  <input type="submit" value="Salveaza" class="form-control">

</form>
