<form class="add-form" [formGroup]="addRaportForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="projectClient">Client & Lucrare : </label>
    <select id="projectClient" name="projectClient" formControlName="projectAndClient" class="form-control">
      <option *ngFor="let projectClient of projects">{{projectClient}}</option>
    </select>
  </div>
  <div class="form-control">
    <label>Data:<input type="text" formControlName="date"></label>
  </div>

  <div class="form-control">
    <label for="team">Echipa</label>
    <input type="text" name="team" formControlName="team">
  </div>

  <div class="form-control">
    <label>Descriere:<input type="text" formControlName="description"></label>
  </div>



  <label for="materials">Materiale Folosite:</label><br>
<select name="materials" id="materials"  formControlName="materialsUsed" multiple class="form-control">
    <option *ngFor="let material of materials" value="{{material}}">{{material}}</option>
  </select>

  <input type="submit" value="Salveaza" class="form-control">

</form>
