<div class="container mat-elevation-z5">


  <app-add-material (onAddMaterial)="addMaterialtoFireBase($event)"></app-add-material>
  <mat-divider></mat-divider>
  <form class="form-group margin-top">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Cauta material</mat-label>
        <input matInput [(ngModel)]="materialName" [ngModelOptions]="{standalone: true}" placeholder="ex: CABLU UTP">
      </mat-form-field>
    </p>
    <p>
  </form>

  <table class="table table-striped table-bordered mat-elevation-z5">
    <thead>
      <tr>
        <th scope="col">DENUMIRE</th>
        <th scope="col">PRET</th>
        <th scope="col">CANTITATE</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materials | materialSearch : materialName">
        <td *ngIf="!editMode || !compareId(material.id,editId)">{{material?.text | uppercase}}</td>
        <td *ngIf="editMode && compareId(material.id,editId)"><input size={{material.text.length}} type="text" [(ngModel)]="material.text"></td>
        <td *ngIf="!editMode || !compareId(material.id,editId)" >{{material?.price}} lei</td>
        <td *ngIf="editMode && compareId(material.id,editId)"><input size={{material.price.length}} type="text" [(ngModel)]="material.price"></td>
        <td *ngIf="!editMode || !compareId(material.id,editId)" >{{material?.quantity}} m</td>
        <td *ngIf="editMode && compareId(material.id,editId)"><input size={{material.quantity.length}} type="text" [(ngModel)]="material.quantity"></td>
        <td class="saveEdit">
          <mat-icon *ngIf="!editMode || !compareId(material.id,editId)" (click)="enterEditMode(material.id)" [ngStyle]="{'color': 'green'}">edit</mat-icon>
          <mat-icon *ngIf="editMode && compareId(material.id,editId)" (click)="exitEditMode(material)" [ngStyle]="{'color': 'green'}">save</mat-icon>
          <mat-icon (click)="openDialog(material)" [ngStyle]="{'color': 'red'}">delete</mat-icon>
        </td>

      </tr>
      
    </tbody>
  </table>



</div>