<div class="container mat-elevation-z5">
<!-- <app-button color="{{showAddMaterial ? 'red': 'green'}}" text="{{showAddMaterial ? 'Inchide': 'Adauga Material'}}" (btnClick)="toggleAddMaterial()"></app-button> -->

<app-add-material (onAddMaterial)="addMaterialtoFireBase($event)"></app-add-material>

<table class="table table-striped table-bordered mat-elevation-z5">
  <thead>
    <tr>
      <th scope="col">DENUMIRE</th>
      <th scope="col">PRET</th>
      <th scope="col">CANTITATE</th>
      <th scope="col">STERGE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials">
    <td>{{material?.text}}</td>
    <td>{{material?.price}} lei</td>
    <td>{{material?.quantity}} m</td>
    <td> <mat-icon (click)="deleteMaterialFromFirebBase(material)" [ngStyle]="{'color': 'red'}">delete</mat-icon></td>
 
</tr>
  </tbody>
</table>



</div>



