
<form class="add-form" [formGroup]="addRaportForm" (ngSubmit)="onSubmit()">
 
  <div class="form-control">
    <label>Data:<input type="date" formControlName="date"></label>
  </div>

  <div class="form-control">
    <label for="team">Echipa</label>
    <input type="text" name="team" formControlName="team">
  </div>

  <div class="form-control">
    <label>Descriere:<input type="text" formControlName="description"></label>
  </div>



  <label for="materials">Materiale Folosite:</label><br>
<select name="materials" id="materials"  formControlName="materialsUsed" multiple class="form-control">
    <option *ngFor="let material of materials" value="{{material}}" class="form-control">{{material}}</option>
  </select>
  <input type="button" value="Adauga Cantitate Materiale" class="form-control" (click)="filterMaterials()">
  
  
 <div  *ngFor="let matItem of materialsFiltered">
  <label for="{{matItem.text}}">{{matItem.text}}</label>
   <input type="number" class="form-control" name="{{matItem.text}}" [(ngModel)]="matItem.quantity"  [ngModelOptions]="{standalone: true}">

 </div>

  <input type="submit" value="Salveaza" class="form-control">

</form>
