 <div *ngIf="raportDetail" class="material">
  <div *ngFor="let raportDetail of raportDetail">
    
    
     <div class="row">

       <div class="column">
         <h2 [ngStyle]="{color: 'red'}">Data: {{raportDetail?.date}}</h2>
         <h3>Echipa: {{raportDetail?.team}}</h3>
         <h3>Materiale Folosite:</h3>
         <ul>
           <li *ngFor="let material of raportDetail?.materialsQuantity">{{material.text}} : {{material.quantity}}</li>
         </ul>
       </div>
       <div class="column">
         <h3 [ngStyle]="{color: 'red'}">Descriere</h3>
         <p>{{raportDetail?.description}}</p>
       </div>

     </div>

  </div>
    </div> 

