<h2 [ngStyle]="{color: '#3f51b5'}">Adauga interventie</h2>
<form [formGroup]="addRequestForm" (ngSubmit)="onSubmit()" >

    <div  fxLayout="row" fxLayoutAlign="space-evenly center">


        <p>
          <mat-form-field appearance="outline">
            <mat-label>Client</mat-label>
            <input matInput formControlName="client" placeholder="">
          </mat-form-field>
          </p><p>
          <mat-form-field appearance="outline">
            <mat-label>Adresa:</mat-label>
            <input matInput formControlName="address" placeholder="">
          </mat-form-field></p><p>
          <mat-form-field appearance="outline">
            <mat-label>Data Programare</mat-label>
            <input matInput type="date" formControlName="date" placeholder="">
          </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Problema</mat-label>
              <input matInput type="text" formControlName="problem" placeholder="">
            </mat-form-field>
          </p>
     
      </div>

      <div  fxLayout="row" fxLayoutAlign="space-evenly center">
        <button type="submit" mat-raised-button color="primary" [disabled]="!addRequestForm.valid">Salveaza</button>
  
    </div>
</form>