<form class="form-control" [formGroup]="addRequestForm" (ngSubmit)="onSubmit()">
    <label>Client:<input type="text" formControlName="client" class="form-control" /></label>
    <label>Adresa:<input type="text" formControlName="address" class="form-control" /></label>
    <label>Data Programare:<input type="date" formControlName="date" class="form-control" /> </label>
    <label>Problema:<input type="text" formControlName="problem" class="form-control" /></label>

    <input type="submit" value="Salveaza">
</form>