
<div class="container mat-elevation-z5">

    <h2 [ngStyle]="{color: '#3f51b5'}" >Procese Verbale de facturat</h2>
    <div *ngIf="raportDetail" >

        <div *ngFor="let raportDetail of raportDetail">
            <div *ngIf="!raportDetail.bill">
                <mat-accordion class="example-headers-align">   
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               <p><strong>{{raportDetail?.projectAndClient | uppercase}}</strong></p>
                            
                              
                            </mat-panel-title>
                           
                           
                            <mat-panel-description>
                                <span>
                                    <em>{{raportDetail?.date | date}} ,
                                    </em>
                                </span>
                                <span (click)=markAsFinsihed(raportDetail)><strong>Marcheaza ca facturat</strong></span>
                          
                            </mat-panel-description>
                            
                        </mat-expansion-panel-header>
                        <strong>Descriere</strong>
                        <p innerHTML="{{raportDetail?.description}}"></p>
                        <strong>Materiale Folosite:</strong>
                        <ul>
                            <li *ngFor="let material of raportDetail?.materialsQuantity">{{material.text}} : {{material.quantity}}m</li>
                          </ul>
                    </mat-expansion-panel>
            <mat-divider></mat-divider>
        


    

