
<div class="container mat-elevation-z5">

    <h2 [ngStyle]="{color: '#3f51b5'}" >Procese Verbale de facturat</h2>
    <div *ngIf="raportDetail" >

        <div *ngFor="let raportDetail of raportDetail">
            <div *ngIf="!raportDetail.bill">
                <mat-accordion>
                       <h4>
                        <em>{{raportDetail?.date | date}}</em>
                       </h4>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               {{raportDetail?.projectAndClient | uppercase}} 
                            </mat-panel-title>
                            
                            <h4 style="text-align:right;">
                                <span (click)=markAsFinsihed(raportDetail)><strong>Marcheaza ca facturat</strong></span>
                            </h4>
                        </mat-expansion-panel-header>
                        <strong>Descriere</strong>
                        <p innerHTML="{{raportDetail?.description}}"></p>
                        <strong>Materiale Folosite:</strong>
                        <ul>
                            <li *ngFor="let material of raportDetail?.materialsQuantity">{{material.text}} : {{material.quantity}}m</li>
                          </ul>
                    </mat-expansion-panel>
            <mat-divider></mat-divider>
        


    

