<div class="container" >
    <h2>Interventii de rezolvat</h2>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">CLIENT</th>
            <th scope="col">ADRESA</th>
            <th scope="col">DATA</th>
            <th scope="col">PROBLEMA</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
          <td>{{request?.client}}</td>
          <td>{{request?.address}}</td>
          <td>{{request?.date}}</td>
          <td>{{request?.problem}}</td>
          <td>Trimite la facturat</td>
          
      </tr>
        </tbody>
      </table>  
</div>
  
