<div *ngIf="hasRoute('/')">
<div class="container mat-elevation-z5">
  
  <h2 [ngStyle]="{color: '#3f51b5'}">Interventii de rezolvat</h2>
  
  <table class="table table-bordered table-striped mat-elevation-z5">
    <thead>
      <tr>
        <th scope="col">CLIENT</th>
        <th scope="col">ADRESA</th>
        <th scope="col">DATA</th>
        <th scope="col">PROBLEMA</th>
        <th scope="col">PROCES VERBAL</th>
        <th scope="col">STERGE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests" >
        <td >{{request?.client}}</td>
        <td>{{request?.address}}</td>
        <td>{{request?.date}}</td>
        <td>{{request?.problem}}</td>
        <td ><a routerLink="/requests/{{request.id}}">Adauga proces verbal</a></td>
        <td style="text-align:center"> <mat-icon (click)="deleteRequest(request)" [ngStyle]="{'color': 'red'}" >delete</mat-icon></td>
          
          
        </tr>
      </tbody>
    </table>  
    
  </div>
    
</div>

<div *ngIf="hasRouteDetail('/')">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">CLIENT</th>
        <th scope="col">ADRESA</th>
        <th scope="col">DATA</th>
        <th scope="col">PROBLEMA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>{{requestItem?.client}}</td>
      <td>{{requestItem?.address}}</td>
      <td>{{requestItem?.date}}</td>
      <td>{{requestItem?.problem}}</td>
     
      
  </tr>
    </tbody>
  </table>  
<app-add-request-raport [requestId]="requestItem?.id" (onAddRaportRequest)="addRaport($event)"></app-add-request-raport>
</div>
